/* common styles */
body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6{
  font-weight: bolder;
  color: #389BCF;
}

h2{
  font-size: 1.6rem;
}

/* change the text selection color */
::selection {
  background-color: #389BCF;
  color: white;
}

/* navbar */
nav{
  background: linear-gradient(to right, #42B8E5, #1D4C94);
  padding-left: 30px !important;
  width: 100%;
  position: fixed !important;
  z-index: 2;
}

nav a{
  margin-right: 20px;
  color: white !important;
}

.navbar-collapse{
  justify-content: flex-end;
}

.navbar-toggler{
  background-color: inherit;
  border: none;
}

/* change the toggler icon from default bootstrap icon */
.navbar-toggler-icon {
  background-image: url("../assets/images/toggler.png") !important;
  height: 20px;
}

.navbar-toggler-icon:focus{
  outline: none !important;
}

/* grid-container */
#main{
  display: grid;
  grid-template-columns: 90px auto;
  position: relative;
  top: 55px;
}

/* sidebar on mobile view */
#sidebar{
  background: white;
}

.mobile-sidebar-item{
  display: none;
}


#sidebar{
  width: 90px;
  box-shadow: 0 4px 8px #000000;
  z-index: 1;
  transition: width 0.25s;
  -webkit-transition: width .25s;
  -moz-transition: width 0.25s;
}

#sidebar ul{
  list-style-type: none;
  padding: 0;
  position: fixed;
  height: 92.4vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

#sidebar ul li{
  padding: 4px 10px;
  margin-top: 14px;
  color: #389BCF;
  border-left: 5px solid white;
}

#sidebar ul li:hover{
  border-left: 5px solid #389BCF;
  background: rgb(42, 125, 184, 0.3)
}

#sidebar img{
  margin-right: 20px;
  border-radius: 50%;
  height: 60px;
  width: 60px;
}

#sidebar a{
  font-weight: bolder;
  display: none;
}

#sidebar a:hover{
  text-decoration: none;
}

#sidebar:hover{
  min-width: 360px;
}

/* scroll-bar */
/* width */
#sidebar ul::-webkit-scrollbar {
  -ms-overflow-style: none;
  display: none;
}


/* events */
#events{
  z-index: -1;
  position: relative;
}

/* overlay when sidebar is hovered */
.overlay{
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(20,20,20, .8);
  display: none;
  z-index: 3;
}
.content{
  padding: 25px 30px;
}

.main-heading{
  display: inline;
  border-bottom: 3px solid #389BCF;
}

.event-box{
  padding: 25px;
}

.event-box > div{
  padding: 15px 15px;
  box-shadow: 2px 3px 10px #000000;
  height: 275px !important;
}

.event-box img{
  max-width: 100%;
  height: 200px;
}

.event-box h5{
  margin-top: 15px;
}

.event-box h5{
  font-size: 1rem;
}


/* media queries */
@media only screen and (max-width: 600px){

  #main{
    grid-template-columns: auto;
  }

  /* sidebar not visible in mobile view */
  #sidebar{
    display: none;
  }

  .mobile-sidebar-item{
    display: block;
  }

  .navbar-collapse{
    height: 93.2vh;
    overflow-y: scroll;
    overflow-x: hidden;
    font-size: 0.9rem;
    padding-bottom: 5px;
  }

  .navbar-collapse li{
    margin-top: 8px !important;
  }
  
  .mobile-sidebar-item{
    padding: 4px 0;
  }
  
  .mobile-sidebar-item img{
    margin-right: 15px;
    border-radius: 50%;
    height: 60px;
    width: 60px;
  }
  
  .mobile-sidebar-item a{
    font-weight: bolder;
  }

  .mobile-sidebar-item a:hover{
    color: white;
    text-decoration: none;
  }
  
  /* scroll-bar */
  /* width */
  .navbar-collapse ::-webkit-scrollbar {
    width: 0 !important;
    -ms-overflow-style: none !important;
    display: none !important;
  }
}

@media only screen and (max-width: 360px){
  .mobile-sidebar-item img{
    margin-right: 10px;
    border-radius: 50%;
    height: 50px;
    width: 50px;
  }

  .navbar-collapse{
    font-size: 0.75rem;
  }
}